<!DOCTYPE html>
<html>
  <head>
    <title>Something Creative</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Something Creative</h1>
    <p>See Students</p>
    <p>See Tutors</p>
  </body>
</html>
